*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body{
    text-align: center;
    font-family: sans-serif;
    background-image: url(./5598544.jpg);
    align-items: center;
        
}

.principal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #171717;
    position: relative;
    width: 100%;
    z-index: 100;
}

.navegacion{
    display: flex;
    margin-right: 10px;
}

.logo{
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.navegacion a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navegacion a:hover{
    background: #3f3f3f;
    
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.title{
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow:
    1px 1px 2px black,
    0 0 1em #fff,
    0 0 0.2em #fff;
}

p{  
    width: 60%;
    margin-bottom: 40px;
    font-size: 18px;
    text-shadow:
    1px 1px 2px black,
    0 0 1em #fff,
    0 0 1em #fff;
}

.btn{
    
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #9fd5d1;
    color: #fff;
    text-decoration: none;
    background: #9fd5d1;
    text-align: center;
    justify-content: center ;
    
}

.btn:hover{
    background: none;
}

.btn-home{
    
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.btn-home a{
    margin: 0 10px 0px 15px;
}

.content{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bienvenida{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main{
    height: 90vh !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}